beautifulsoup4>=4.11.1
bs4>=0.0.1
faiss-cpu==1.7.2
fitz==0.0.1.dev2
ipython==8.4.0
langchain>=0.0.182
langchain-core>=0.0.1
langchain-community>=0.0.1
langsmith>=0.0.1
openai==0.27.0
pandas==1.4.2
pinecone-client==2.2.1
pymupdf==1.19.6
python-dotenv==0.20.0
pytz==2021.3
requests>=2.32.0
sentence-transformers==2.2.0
streamlit==1.10.0
unstructured==0.1.8